<div>
  <div>
    <h1>
      Shoe #<%= @the_shoe.id %> details
    </h1>

    <div>
      <div>
        <a href="/shoes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_shoe/<%= @the_shoe.id %>">
          Delete shoe
        </a>
      </div>
    </div>

    <dl>
      <%# <dt> %>
        <%# User %>
      <%# </dt> %>
      <%# <dd> %>
        <%# <%= @the_shoe.user_id %> 
      <%# </dd> %>

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_shoe.price %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src=<%= @the_shoe.image %>>
      </dd>

      <dt>
        Brand
      </dt>
      <dd>
        <%= @the_shoe.brand %>
      </dd>

      <dt>
        Outfits count
      </dt>
      <dd>
        <%= @the_shoe.outfits_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_shoe.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_shoe.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit shoe
    </h2>

    <form action="/modify_shoe/<%= @the_shoe.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_shoe.user_id %>">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_shoe.price %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_shoe.image %>">
      </div>

      <div>
        <label for="brand_box">
          Brand
        </label>

        <input type="text" id="brand_box" name="query_brand" value="<%= @the_shoe.brand %>">
      </div>

      <div>
        <label for="outfits_count_box">
          Outfits count
        </label>

        <input type="text" id="outfits_count_box" name="query_outfits_count" value="<%= @the_shoe.outfits_count %>">
      </div>

      <button>
        Update shoe
      </button>
    </form>
  </div>
</div>

<hr>
