<!DOCTYPE html>
<html>
  <head>
    <title>Wardrobe Wizard</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="layouts.css.erb">
  </head>

  <body>
  <p style="color: green;"> <%= notice %> </p>
  <p style="color: red;"> <%= alert %> </p>
  <ul>
    <li>
      <a href="/tops">
        Tops
      </a>
    </li>
    <li>
      <a href="/bottoms">
        Bottoms
      </a>
    </li>
    <li>
      <a href="/shoes">
        Shoes
      </a>
    </li>
    
    <% if session[:user_id] == nil %>
    <li>
      <a href="/user_sign_up">
        User sign-up
      </a>
    </li>
    <li>
      <a href="/user_sign_in">
        User sign-in
      </a>
    </li>

    <% else %>
    <li>
      Welcome back, <%= @current_user.username %>.
    </li>
    <li>
      <a href="/user_sign_out"> Sign out. </a>
    </li>
    <li>
      <a href="/outfits">
        My outfits
      </a>
    </li>
    <% end %>
  </ul>    
    <%= yield %>
  </body>
</html>
